<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace = "com.ssafy.mvc.model.dao.ReviewDao">
<select id="selectAll">
SELECT * FROM review
</select>

<select id="selectOne">
SELECT * FROM review
WHERE id = #{id}
</select>

<insert id="insertReview">
INSERT INTO review(title, writer, content)
VALUES (#{title}, #{writer}, #{content})
</insert>

<update id="updateReview">
UPDATE review
SET content = #{content}, parent = #{parent}
WHERE id = #{id}
</update>

<delete id="deleteReview">
DELETE FROM review WHERE id = #{id}
</delete>

</mapper>